$primary-color: #475569;
$secondary-color: #d9e0e8;

$bg-primary: #ffffff;
$bg-secondary: #f9fafb;

$text-primary: #111827;
$text-secondary: #6b7280;

$muted-color: #9ca3af;

$success-color: #10b981;
$warning-color: #f59e0b;
$error-color: #ef4444;
$info-color: #3b82f6;
