@use "../../../styles/abstracts/variables" as *;

.quantityPicker {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.label {
  font-size: 1.25rem;
  font-weight: 600;
}

.select {
  width: 100px;
  height: 40px;

  padding: 0 0.75rem;

  border: 1px solid $secondary-color;
  border-radius: 8px;

  background: $bg-secondary;

  cursor: pointer;

  font-size: 0.95rem;

  outline: none;
}

.select:focus {
  border-color: $primary-color;
}
