.container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

button {
  width: 36px;
  height: 36px;

  border: 1px solid #d1d5db;
  border-radius: 6px;

  background: white;
  cursor: pointer;
}