.quantityPicker {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.label {
  font-size: 1.25rem;
  font-weight: 600;
}

.select {
  width: 100px;
  height: 40px;

  padding: 0 0.75rem;

  border: 1px solid #656e7b;
  border-radius: 8px;

  background: #f3f4f6;

  cursor: pointer;

  font-size: 0.95rem;

  outline: none;
}

.select:focus {
  border-color: #1f6b42;
}