@use "../../../styles/abstracts/variables" as *;
.sizes {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
}

.sizeBtn {
  min-width: 70px;

  padding: 0.75rem 1rem;

  border: 1px solid $secondary-color;
  border-radius: 8px;

  background: $bg-secondary;
  cursor: pointer;

  display: flex;
  flex-direction: column;
}

.soldOut {
  background: $bg-secondary;
  color: $muted-color;
  cursor: not-allowed;
}
