.table {
  width: 100%;
  border-collapse: collapse;
}

.table tr {
  border-bottom: 1px solid #e5e7eb;
}

.table th {
  width: 250px;
  text-align: left;
  padding: 1rem;
  background: #f9fafb;
  font-weight: 600;
}

.table td {
  padding: 1rem;
}